h1{
	color: red;
	text-align: center;
	background-color: purple;
}
ol{
	color: green;
	text-align: left;
	background-color: yellow
}
li{
	color: black;
	text-align-last: 
}

body{
	background-color: blue;
}